In [13]:
# 라이브러리 설치 -> pymysql을 사용
# !pip install pymysql

### 연결 및 CRUD 구현 함수

In [14]:
import pymysql

def connect_to_database():
    """ MySQL 서버 연결 """
    try:
        connection = pymysql.connect(
            host="192.168.56.4",  # 사용하는 Ip
            user="geonyoung", # 계정 명
            password="1234",   
            database="madang", # 사용할 디비         
            port=4567 # mysql port
        )
        print("MySQL 서버에 성공적으로 연결되었습니다.")
        return connection
    except:
        print(f"MySQL 연결 실패!! 다시 시도해주세요!")
        return None

def insert_data(connection, table_name, data):
    """ 데이터 삽입 (insert) """
    try:
        cursor = connection.cursor()
        
        # col, value를 무조건 지정해주어야 함. 추후에 고칠 필요가 있음
        value = ', '.join(['%s'] * len(data)) # 데이터가 여러개 넣기 위하여
        columns = ', '.join(data.keys())
        
        query = f"INSERT INTO {table_name} ({columns}) VALUES ({value})"
        
        cursor.execute(query, tuple(data.values())) 
        connection.commit() # 쿼리 커밋
        print("데이터 삽입 성공")
        
    except:
        print(f"데이터 삽입 실패!!")

def execute_query(connection, query):
    """ SQL 쿼리 실행 및 커밋 """
    try:
        cursor = connection.cursor()
        cursor.execute(query)
        connection.commit()
        print("쿼리 실행 및 커밋 성공")
    except Exception as e:
        print(f"쿼리 실행 실패: {e}")
        
def update_data(connection, table_name, data, condition):
    """ 데이터 업데이트 (update) """
    try:
        cursor = connection.cursor()
        
        # 데이터를 업데이트 쿼리 문자열로 변환
        update_statement = ', '.join([f"{key} = %s" for key in data.keys()])
        
        # 전체 쿼리
        query = f"UPDATE {table_name} SET {update_statement} WHERE {condition}"
        
        # 쿼리 실행
        cursor.execute(query, tuple(data.values()))
        connection.commit()  # 쿼리 커밋
        print("데이터 업데이트 성공")
        
    except Exception as e:
        print(f"데이터 업데이트 실패: {e}")

        
def delete_data(connection, table_name, condition):
    """ 데이터 삭제 (delete) """
    try:
        cursor = connection.cursor()
        
        if condition: # condition 있다면
            query = f"DELETE FROM {table_name} WHERE {condition}"
        else:
            query = f"DELETE FROM {table_name}"
            
        cursor.execute(query)
        connection.commit() # 쿼리 커밋
        print("데이터 삭제 성공")
        
    except:
        print(f"데이터 삭제 실패!!!")

def search_data(connection, table_name, columns="*", condition="1=1"):
    """ 데이터 검색 (select)"""
    try:
        cursor = connection.cursor()
        
        if condition: # condition 있다면
            query = f"SELECT {columns} FROM {table_name} WHERE {condition}"
        else:
            query = f"SELECT {columns} FROM {table_name}"
            
        cursor.execute(query)
        results = cursor.fetchall() # 모든 결과 가져오기
        print("검색된 데이터:")
        for row in results:
            print(row)
            
        return results
    
    except:
        print(f"데이터 검색 실패 !!!")

### 서버 접속 및 실행 하기

In [15]:
# MySQL 서버에 연결
connection = connect_to_database()

MySQL 서버에 성공적으로 연결되었습니다.

In [16]:
# 삽입
print("=== 데이터 삽입 ===")
insert_data(connection, "Book", {
    "bookid": 23,
    "bookname": "Python 프로그래밍 예시",
    "publisher": "고건영",
    "price": 25000
})

=== 데이터 삽입 ===
데이터 삽입 성공

In [19]:
# 조회
print("\n=== 데이터 조회 ===")
search_data(connection, "Book", "*", "publisher=\"고건영\"")

=== 데이터 조회 ===
검색된 데이터:
(23, 'Python 프로그래밍 예시', '고건영', 25000)

((23, 'Python 프로그래밍 예시', '고건영', 25000),)

In [21]:
# 삭제
print("\n=== 데이터 삭제 ===")
delete_data(connection, "Book", "bookid = 23")

=== 데이터 삭제 ===
데이터 삭제 성공

In [22]:
# 마지막 조회
print("\n=== 데이터 조회 ===")
search_data(connection, "Book", "*", "")

=== 데이터 조회 ===
검색된 데이터:
(1, '축구의 역사', '굿스포츠', 7000)
(2, '축구아는 여자', '나무수', 13000)
(3, '축구의 이해', '대한미디어', 22000)
(4, '골프 바이블', '대한미디어', 35000)
(5, '피겨 교본', '굿스포츠', 8000)
(6, '역도 단계별기술', '굿스포츠', 6000)
(7, '야구의 추억', '이상미디어', 20000)
(8, '야구를 부탁해', '이상미디어', 13000)
(9, '올림픽 이야기', '삼성당', 7500)
(10, 'Olympic Champions', 'Pearson', 13000)
(14, '스포츠 의학', 'Pearson', None)
(21, 'Zen Golf', 'Pearson', 12000)
(22, 'Soccer Skills', 'Human Kinetics', 15000)

((1, '축구의 역사', '굿스포츠', 7000),
 (2, '축구아는 여자', '나무수', 13000),
 (3, '축구의 이해', '대한미디어', 22000),
 (4, '골프 바이블', '대한미디어', 35000),
 (5, '피겨 교본', '굿스포츠', 8000),
 (6, '역도 단계별기술', '굿스포츠', 6000),
 (7, '야구의 추억', '이상미디어', 20000),
 (8, '야구를 부탁해', '이상미디어', 13000),
 (9, '올림픽 이야기', '삼성당', 7500),
 (10, 'Olympic Champions', 'Pearson', 13000),
 (14, '스포츠 의학', 'Pearson', None),
 (21, 'Zen Golf', 'Pearson', 12000),
 (22, 'Soccer Skills', 'Human Kinetics', 15000))

In [23]:
# 연결 종료
connection.close()